---
layout : layouts/base.njk
---

	<!-- Intro -->
	<section class="intro">
		<header>
			<h1>
				<a href="{{ data.product }}">{{ data.app_title }}</a>
			</h1>
			<p>
				O locatie excelenta de cazare in Delta Dunarii.
			</p>
			<ul class="actions">
				<li><a href="#first" class="arrow scrolly"><span class="label">Mai Mult</span></a></li>
			</ul>
		</header>
		<div class="content">
			<span class="image fill" data-position="center"><img src="images/pic01.jpg" alt="" /></span>
		</div>
	</section>

	<!-- Section -->
	<section id="first">
		<header>
			<h2>
				Bine ati venit
			</h2>
		</header>
		<div class="content">
			<p>
				<strong>Aqua Villa</strong> este o reinterpretare a vremurilor apuse, in care obisnuiam sa ne scaldam si sa pornim in cautarea fluturilor frumos colorati, 
				care ne indemnau cu zborul lor sa ne traim copilaria in libertatea acelor zone mitice si rapitoare.
				<strong>O pensiune in Delta Dunarii</strong> va promite reintoarcerea in trecutul atat de drag! Impreuna cu fratele meu si toti cei de la Aqua Villa va oferim cea mai calitativa cazare in Delta si cele mai frumoase experiente pe care le-ati putea trai in inima Deltei Dunarii!
			</p>
			
			<span class="image main"><img src="images/pic02.jpg" alt="" /></span>
		</div>
	</section>

				<!-- Section -->
				<section>
					<header>
						<h2>
							Povestea Aqua Villa
						</h2>
					</header>
					<div class="content">
						<p>
							Ne-am inspirat din trecutul nostru, al oamenilor Deltei Dunarii, din copilaria presarata cu amintiri care ne tin si astazi viu spiritul efervescent.
							Somptuozitatea lipoveana a Deltei Dunarii este reflectata in vegetatia de-altadata, in salciile aplecate si impozante ca o zi insorita, petrecuta in sanul naturii.
						</p>
						<ul class="feature-icons">
							<li class="icon solid fa-envelope"> <a href="mailto:{{ data.email }}">{{ data.email }}</a></li>
							<li class="icon solid fa-phone"><a href="tel:{{ data.phone }}">{{ data.phone }}</a></li>
						</ul>
						<p>
							<strong>Va asteptam cu drag</strong>.
						</p>
					</div>
				</section>

				<!-- Section -->
				<section>
					<header>
						<h2>
							Servicii
						</h2>
					</header>
					<div class="content">

						<p>
							<strong>Pensiune</strong> - suprafata locatiei 3 000 mp: Amplasamentul 3 corpuri de cladire, 7 camere duble.
							<br />
							<strong>Activitati</strong> - inlocuiti rutina citadina cu activitati dinamice! In inima Deltei puteti practica sporturi nautice, tenis de masa, puteti juca darts sau va puteti plimba cu bicicleta, barca si salupa. 
							<br />
							<strong>Relaxare</strong> - cautati adapost in activitati relaxante? Cu siguranta va era dor sa inotati in tihna sau sa pescuiti cat e ziua de lunga.
						</p>

						<!-- Section -->
						<section>
							<header>
								<p>
									In cazul in care am omis sa precizam detalii de interes pentru dumneavoastra, va stam la dispozitie pentru informatii aditionale cu privire la pachetele si ofertele noastre.
								</p>
							</header>
							<div class="content">
								<div class="gallery">
									<a href="images/gallery/fulls/01.jpg" class="landscape"><img src="images/gallery/thumbs/01.jpg" alt="" /></a>
									<a href="images/gallery/fulls/02.jpg"><img src="images/gallery/thumbs/02.jpg" alt="" /></a>
									<a href="images/gallery/fulls/03.jpg"><img src="images/gallery/thumbs/03.jpg" alt="" /></a>
									<a href="images/gallery/fulls/04.jpg" class="landscape"><img src="images/gallery/thumbs/04.jpg" alt="" /></a>
								</div>
							</div>
						</section>

					</div>
				</section>
